<h1>What is Sailor Senshi Love Fest?</h1>
<p>In celebration of the brand new 'Sailor Moon Crystal' series, let's talk about our favorite guardians!</p>
<p>Who is <em>your</em> favorite Sailor Senshi? Upload a picture of her and tell everyone why she's your love. This site is mobile-friendly, too! </p>

<br>

<h1>Who made this?</h1>
<p>Hi, I'm Melody! I'm a <a href="http://www.urbandictionary.com/define.php?term=moonie&defid=1350188">Moonie</a> and I'm learning the programming language Ruby on Rails. <b>Sailor Senshi Love Fest</b> is my version of the <a href="http://railsgirls.com/">Rails Girls</a> Ideas App. My favorite's Mars. Follow me on Twitter at <a href="http://www.twitter.com/melody_gordon">@melody_gordon</a>